<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebAppSchoolEase</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" >
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="(() => { configDropdownIsOpen= false; userDropdownIsOpen = false; })" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" @onclick="() => toggleUserDropdown()" aria-haspopup="true" aria-expanded="@userDropdownIsOpen">
                <span class="oi oi-person" aria-hidden="true" ></span> Usuarios
            </a>
            <div class="dropdown-menu" aria-labelledby=" userDropdown" style="@userDropdownStyle">
                <a class="dropdown-item" href="docente" @onclick="(() => userDropdownIsOpen= false)">Docente</a>
                <a class="dropdown-item" href="estudiante" @onclick="(() => userDropdownIsOpen= false)">Estudiante</a>
                <a class="dropdown-item" href="acudiente" @onclick="(() => userDropdownIsOpen= false)">Acudiente</a>
             
            </div>
        </div>
        <div class="nav-item px-3">

            <NavLink class="nav-link" href="Matricula" @onclick="(() => { configDropdownIsOpen= false; userDropdownIsOpen = false; })" Match="NavLinkMatch.All">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Matrícula
            </NavLink>
        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="Asignaturas" @onclick="(() => { configDropdownIsOpen= false; userDropdownIsOpen = false; }  )" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Asignaturas
            </NavLink>
        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="Horario" @onclick="(() => { configDropdownIsOpen= false; userDropdownIsOpen = false; })" Match="NavLinkMatch.All">
                <span class="oi oi-clock" aria-hidden="true"></span> Horarios
            </NavLink>
        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="Grupo" @onclick="(() => { configDropdownIsOpen= false; userDropdownIsOpen = false; })" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Grupos
            </NavLink>
        </div>

        <div class="nav-item px-3">

        <NavLink class="nav-link" href="Calificacion" @onclick="(() => { configDropdownIsOpen= false; userDropdownIsOpen = false; })" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span> Calificaciones
            </NavLink>
        </div>
       
        <div class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle"  id="configDropdown" role="button" @onclick="() => toggleConfigDropdown()" aria-haspopup="true" aria-expanded="@configDropdownIsOpen" >
                 <span class="oi oi-wrench" aria-hidden="true" ></span> Configuracion

            </a>
            <div class="dropdown-menu"  aria-labelledby=" configDropdown" style="@configDropdownStyle">
                <a class="dropdown-item" href="periodoacademico" @onclick="(() => configDropdownIsOpen = false)">Periodo Académico</a>
                <a class="dropdown-item" href="nivelacademico" @onclick="(() => configDropdownIsOpen = false)">Nivel Académico</a>
                <a class="dropdown-item" href="jornadaacademica" @onclick="(() => configDropdownIsOpen = false)">Jornada Académica</a>
                <a class="dropdown-item" href="gradoacademico" @onclick="(() => configDropdownIsOpen = false)">Grado Académico</a>
            </div>
        </div>
        
    </nav>
        
</div>

@code {
    bool configDropdownIsOpen = false;
    bool userDropdownIsOpen = false;
    bool mainMenuIsOpen = false;

    string configDropdownStyle => $"display: {(configDropdownIsOpen ? "block" : "none")};";
    string userDropdownStyle => $"display: {(userDropdownIsOpen ? "block" : "none")};";

    void toggleConfigDropdown()
    {
        configDropdownIsOpen = !configDropdownIsOpen;
        mainMenuIsOpen = false;
        userDropdownIsOpen = false;

    }
    void toggleUserDropdown()
    {
        userDropdownIsOpen = !userDropdownIsOpen;
        mainMenuIsOpen = false;
        configDropdownIsOpen = false;
        
    }

}



@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        if (configDropdownIsOpen)
        {
            userDropdownIsOpen = false;
            mainMenuIsOpen = false;
        }
        if (userDropdownIsOpen)
        {
            configDropdownIsOpen = false;
            mainMenuIsOpen = false;
        }
        mainMenuIsOpen = !mainMenuIsOpen;
        
    }
    //private string MainMenuCssClass => mainMenuIsOpen ? "open" : null;
}

